<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  
  <%- include('partials/header') %>
  
  <h2>🎉 Chào mừng đến Hệ thống Quản lý Thiết bị</h2>
</body>
</html>